body {
  font-family: 'Arial';
  background-color: #101820;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

#login, #chat, #ocPanel {
  padding: 20px;
}

#chatBox {
  background: #181a1f;
  height: 400px;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  background: #282c34;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  text-align: left;
}

img.chat-img {
  max-width: 150px;
  border-radius: 8px;
  margin-top: 5px;
}

button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d62828;
}
